#consultation-form {
    padding: 5% 2%;
    display: flex;
    flex-direction: row;
}

#page-content-left {
    width: 40%;
}

#left-title {
    margin-bottom: 5%;
}

#left-title h5 {
    font-weight: bold;
}

#page-content-right {
    width: 60%;
}

#page-content-right label {
    margin-bottom: 5%;
}

.row-consultation {
    margin-bottom: 5%;
}

.group-row {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}

.left-row {
    width: 50%;
    margin-left: inherit;
}

.right-row {
    width: 50%;
}

.btn-begin {
    background: #98C33E;
    color: white;
    width: 80%;
}

.btn-begin:hover {
    background: #8AB038;
    color: white;
}

.btn-end {
    background: #F24236;
    color: white;
    width: 100%;
}

.btn-end:hover {
    background: #D31B0D;
    color: white;
}

.ck-content {
    height: 73%;
}

.consultation-content label {
    font-weight: bold;
    color: #7E7E7E;
}